<!-- Main component for a primary marketing message or call to action -->
<div class="aboutus jumbotron">
<h2>About Us</h2>
<p>Dallas Cricket League is now exempt from federal income tax under the Internal Revenue Code (IRC) Section 501(c)(3). Donors can deduct contributions they make to Dallas Cricket League Under IRC Section 170. Dallas Cricket League is also qualified to receive tax deductible bequests, devises, transfers or gifts under Section 2055, 2106, or 2522. Dallas Cricket League is a public charity under the IRC Section. DCL provides liability insurance coverage to all the teams participating in the tournaments and provides reserved concrete pitch grounds for most of the matches!
</p>

<p>We started as a group of people who share the passion and love for the game of cricket. We take time out of our weekend chores to get together and practice our cricketing skills. While doing so we noticed a lot of other cricket players doing the same and got opportunities to play matches with them.
</p>

<p>This lead to the idea of forming a league which would bring all the cricket teams who play taped tennis ball cricket. This would provide an opportunity for all the teams to play more organized cricket and the league to hold regular seasons and tournaments. The teams in the league share the following points:
</p>

<ul>
    <li>Passion for the game of cricket </li>
    <li>Playing with taped tennis cricket ball</li>
    <li>Playing 20/25 limited over matches</li>
    <li>Playing matches on the weekends</li>
</ul>


<p>This website is the starting symbol for the implementation of this idea. This website provides all the teams a presence on the internet. They can store their players statistics and match statistics making it accessible to everyone on the internet. This provides the teams with more professional look and feel.
</p>
</div>
