<div class="wrapper">
  <form class="form-signin">
     <h2 class="form-signin-heading">Password Reset</h2>
     <div ng-show="!emailSent">
      Please enter email ID for the Player: <br />
      <div ng-class="{'has-error': checkEmail()}">
        <input type="text" class="form-control" name="email" placeholder="Email Address" required="" autofocus=""
          ng-model="email" />
      </div>
      <br/>
      <button class="btn btn-lg btn-primary btn-block" type="submit" ng-class="{disabled: checkEmail()}"
        ng-click="requestResetPassword()">Reset</button>
      <div><span ng-if="showResult"> {{statusString}} </span> </div>
    </div>
    <div ng-show="emailSent">
      <span style="font-size: 1.1em;"> <strong style="color: green">Password Reset Success:</strong> Check Email for Password Reset Link.
        If you don't receive the email in 1 hour, contact DCL Admin!
      </span>
    </div>
  </form>
</div>