<div class="modal-header">
  <div class="modal-title">
    <h5> Terms and Conditions </h5>
  </div>
</div>
<div class="modal-body" style="height: 400px !important; overflow-y: auto; font-size: small;">
  <p>
    I agree to the terms and conditions of this agreement and I agree, warrant and covenant as follows:
  </p>
  <hr>
  <h5>REFUND POLICY </h5>
  <hr>
  <p>
  Player registration fees is non-refundable. If a player resigns from the team, he/she will be responsible for all team
  fees and charges payable at the date of registration. If player decides to stop playing for league it will be his/her
  responsibility to inactivate himself/herself to avoid any further communication from league.
  </p>
  <hr>
  <h5>PRIVACY POLICY</h5>
  <hr>
  <p>
  DALLAS CRICKET LEAGUE only collects personal information when you request our services and only uses the information
  collected to provide those services for you. If player choose to register with DALLAS CRICKET LEAGUE, you will be
  asked to provide contact information (such as your name, phone, email) and this information will be used to contact
  you either by league or team captains/Vice Captains/Managers. Your data can be shared with other leagues for
  advancement of your selection at national level.
  </p>
  <hr>
  <h5> THIRD PARTIES </h5>
  <hr>
  <p>
  Any personal information provided will not be traded, rented, sold or otherwise shared with anyone outside of DALLAS
  CRICKET LEAGUE or used for reasons beyond those contemplated in this statement. From time to time, we may engage third
  parties to process your information on our behalf; however, none of DALLAS CRICKET LEAGUE affiliates (such as our
  credit card company) have permission to retain, share, store or use personal information for any reason other than
  providing the requested service.
  SECURITY
  To prevent unauthorized access, disclosure and improper use of your information, we have established appropriate
  physical, electronic, and managerial safeguards to protect the information we collect in accordance with our privacy
  policy.
  </p>
  <hr>
  <h5> TERMS AND CONDITIONS – DALLAS CRICKET LEAGUE AGREEMENT BETWEEN USER AND DALLAS CRICKET LEAGUE </h5>
  <hr>
  <p>
  The network of DALLAS CRICKET LEAGUE operated by DALLAS CRICKET LEAGUE or its affiliates or subsidiaries, is comprised
  of various Web sites and Web pages. The DALLAS CRICKET LEAGUE are offered to you conditioned on your acceptance
  without modification of the terms, conditions, and notices contained herein. Your use of the DALLAS CRICKET LEAGUE Web
  Site constitutes your agreement to all such terms, conditions, and notices. Your use of a particular DALLAS CRICKET
  LEAGUE website included within the DALLAS CRICKET LEAGUE Web Sites network may also be subject to additional terms
  outlined elsewhere on that website (the “Additional Terms”). Additionally, the DALLAS CRICKET LEAGUE Web Site may
  themselves contain additional terms that govern particular features or offers. In the event that any of the terms,
  conditions, and notices contained herein conflict with the Additional Terms or other terms and guidelines contained
  within any particular DALLAS CRICKET LEAGUE website, then these terms shall control. PLEASE READ THE FOLLOWING TERMS
  OF USE AND DISCLAIMERS CAREFULLY BEFORE USING THIS WEB SITE (this “Site”). By accessing or using this Site, you agree
  to these terms of use, conditions and all applicable laws. If you do not agree to these terms you may not use this
  Site. MODIFICATION OF THESE TERMS OF USE DALLAS CRICKET LEAGUE reserves the right to change the terms, conditions, and
  notices under which the DALLAS CRICKET LEAGUE Web Sites are offered, including but not limited to the charges
  associated with the use of the DALLAS CRICKET LEAGUE Web Sites. You are responsible for regularly reviewing these
  terms and conditions. USE OF SITE, PERSONAL AND NON-COMMERCIAL USE LIMITATION Unless otherwise specified, the DALLAS
  CRICKET LEAGUE Web Sites are for your personal and noncommercial use. You may not modify, copy, distribute, transmit,
  display, perform, reproduce, publish, license, create derivative works from, transfer, or sell any information,
  software, products or services obtained from the DALLAS CRICKET LEAGUE Web Sites. You may display and, subject to any
  expressly stated restrictions or limitations relating to specific material, electronically copy, download and print
  hard copy portions of the material from the different areas of the Site solely for your own noncommercial use, or to
  place an order with DALLAS CRICKET LEAGUE or to purchase DALLAS CRICKET LEAGUE products. Any other use of materials on
  this Site, including but not limited to the modification, reproduction, distribution, republication, display or
  transmission of the content of this Site, without prior written permission of DALLAS CRICKET LEAGUE is strictly
  prohibited. Harassment in any manner or form on the Site or any of the DALLAS CRICKET LEAGUE Websites, including via
  e-mail and chat or by obscene or abusive language is strictly forbidden. Impersonation of others, including a DALLAS
  CRICKET LEAGUE volunteer, host, or representative or other members or visitors on the Site is prohibited. You may not
  upload to, distribute, or otherwise publish through the Site any content which is libelous, defamatory, obscene,
  threatening, invasive of privacy or publicity rights, abusive, illegal, or otherwise objectionable, or which may
  constitute or encourage a criminal offense, violate the rights of any party or otherwise give rise to liability or
  violate any law. You may not upload commercial content on the Site or use the Site to solicit others to join or become
  members of any other commercial online service or other organization.
  </p>
  <hr>
  <h5>PHOTOS/BROADCASTING RIGHTS</h5>
  <hr>
  <p>
  I understand the league related events may be photographed, videotaped or otherwise recorded and that descriptions or
  accounts of such events may be written or otherwise documented, and I agree to let the release use of my name in any
  manner of document and or in media without compensation to me. I further agree to let Dallas Cricket league organizers
  use the participants name and or likeness free of charge on the website in connection with any postings of scores or
  team roasters, disciplinary actions against me for any rule breaking. I will not file legal complaint or look for
  compensation in this regard.
</p>

  <hr>
  <h5>EMERGENCY MEDICAL TREATMENT</h5>
  <hr>
  Dallas Cricket league provides secondary insurance for players with injuries during the game, participant agrees to
  use his/her primary insurance in case of injury and any further treatment not covered by primary insurance will send
  request to DCLMGMT@gmail.com to cover. On approval by DCL Management will submit claim with leagues insurance company.

  <hr>
  <h5> ABIDE BY RULES OF LEAGUE </h5>
  <hr>
  I will abide by rules/playing conditions set by league and not try to infringe or break any rules. Example: Will play
  one season with one team for a league (Tape Ball/ Leather T20/Leather T30), and I understand breaking such rule could
  result in penalty and name being displayed on leagues website in any form.
  COPYRIGHTS AND TRADEMARKS
  The entire content included in this Site, including but not limited to text, design, graphics, interfaces, or code and
  the selection and arrangements thereof is copyrighted as a collective work under the United States and other copyright
  laws, and is the property of DALLAS CRICKET LEAGUE.
  <hr>
  <h5> CONTACT US WITH QUESTIONS </h5>
  We will do our best to call you back at the earliest during the season. Questions about registration? 
  Email: <strong> dclmgmt at gmail dot com </strong>
  <hr>
  <strong>
  BY INDICATING MY ACCEPTANCE OF THIS PLAYER REGISTRATION AGREEMENT, I AM AFFIRMING THAT I HAVE READ AND UNDERSTAND THIS
  PLAYER REGISTRATION AGREEMENT AND FULLY UNDERSTAND ITS TERMS. I UNDERSTAND THAT I AM GIVING UP SUBSTANTIAL RIGHTS,
  INCLUDING THE RIGHT TO SUE. I ACKNOWLEDGE THAT I AM SIGNING THE PLAYER REGISTRATION AGREEMENT FREELY AND VOLUNTARILY,
  AND INTEND BY MY ACCEPTANCE TO BE A COMPLETE AND UNCONDITIONAL RELEASE OF ALL LIABILITY TO THE GREATEST EXTENT ALLOWED
  BY LAW.
 </strong>
<hr>
<button class="btn btn-success" style="min-width: 200px; padding-right: 30px; text-align: center" ng-click="agree()">I AGREE </button>
<button class="btn btn-danger" style="min-width: 200px; text-align: center" ng-click="cancel()">DECLINE </button>
</div>

